<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">Quotes Admin</a>
    <div class="navbar-nav">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/authors">Authors</a>
      <a class="nav-link" href="/addAuthor">Add Author</a>
      <a class="nav-link" href="/quotes">Quotes</a>
      <a class="nav-link" href="/addQuote">Add Quote</a>
      <a class="nav-link text-warning" href="/logout">Logout</a>
    </div>
  </div>
</nav>
